*.gem
*.rbc
.bundle
.config
.idea
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/data/report.json
test/output/*.pdf
test/output/*.json
test/tmp
test/version_tmp
tmp
.DS_Store