name: Run Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: sudo apt update -y && sudo apt install imagemagick -y
      - name: Setup Ruby and Gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.4
          bundler-cache: true
      - name: Run Tests
        run: bundle exec rake test
